@import url('https://fonts.cdnfonts.com/css/euclid-circular-a');

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    font-family: 'Euclid Circular A', 'Product Sans Medium Regular';
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@layer components {
    .btn {
        @apply px-4 py-2 font-medium text-base min-w-32 min-h-[45px] transition duration-150 ease-in-out;
    }
    .btn-primarybtn {
        @apply bg-accent text-white hover:opacity-75;
    }
    .btn-secondarybtn {
        @apply bg-primary text-white hover:opacity-75 border border-border_clr;
    }
    .bg-primary {
        @apply bg-orange-500;
    }
    .border-border_clr {
        @apply bg-orange-500;
    }
}

@layer utilities{
    .container{
        @apply mx-auto w-full max-w-[1140px];
    }
}